{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>learning you</title>
    <link href="{% static 'css/style.css'%}">
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/">home</a>
            </li>
           
           
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'tasks' %}">tasks pendietes ,nya</a>
            </li>

            <li>
                <a href="{% url 'task_completed' %}">tasks completadas siuuu</a>
            </li>


            <li>
                <a href="/tasks/create/">tareas creadas fiumba</a>
            </li>

            <li>
                <a href="/logout">logout</a>
            </li>
            <!--si el usuario es autenticado,que muestre el li
            de lo contrario no lo hara-->

            {% else %}
            <li>
                <a href="/signup">signup</a>
            </li>

            <li>
                <a href="/signin">signin</a>
            </li>
            {% endif %}
        </ul>
    </nav>
   {% block content %}
   {% endblock %}
</body>
</html>