{% extends 'base.html' %}

{% block extra_css %}
<style>
    h1 {
        font-size: 24px; /* Tamaño del título */
        margin-bottom: 20px; /* Espacio inferior */
    }

    ul {
        list-style-type: none; /* Quita los puntos de la lista */
        padding: 0; /* Elimina el relleno */
        margin: 0; /* Elimina el margen */
    }

    li {
        border: 1px solid #ccc; /* Borde del elemento de lista */
        border-radius: 5px; /* Bordes redondeados */
        padding: 10px; /* Relleno interno */
        margin-bottom: 10px; /* Espacio inferior */
    }

    li:hover {
        background-color: #f0f0f0; /* Cambia el color de fondo al pasar el mouse */
    }

    li a {
        text-decoration: none; /* Elimina el subrayado del enlace */
        color: #333; /* Color del texto */
    }

    li p {
        margin: 5px 0; /* Margen superior e inferior */
    }

    strong {
        color: #007bff; /* Color del texto en negrita */
    }

    .important {
        font-weight: bold; /* Texto en negrita */
        color: #dc3545; /* Color rojo para tareas importantes */
    }

    .attachment {
        color: #28a745; /* Color verde para archivos adjuntos */
    }

    .attachment a {
        color: #28a745; /* Color verde para archivos adjuntos */
        text-decoration: none; /* Elimina el subrayado */
    }

    .attachment a:hover {
        text-decoration: underline; /* Subrayado al pasar el mouse */
    }
</style>
{% endblock %}

{% block content %}
<h1>Tareas Pendientes</h1>

<ul>
    {% for task in tasks %}
    <li>
        <a href="{% url 'task_detail' task.id %}">
            {% if task.important %}
            <span class="important">{{ task.title }}</span>
            {% else %}
            {{ task.title }}
            {% endif %}
            <p>{{ task.description }}</p>
            <p>Usuario: {{ task.user.username }}</p>
            <p>Fecha de Completado: {{ task.datecompleted | date:'M j Y:i' }}</p>
            {% if task.field %}
            <p class="attachment">Archivo Adjunto: <a href="{{ task.field.url }}" target="_blank">{{ task.field.name }}</a></p>
            {% else %}
            <p>No hay archivos adjuntos</p>
            {% endif %}
        </a>
    </li>
    {% endfor %}
</ul>

{% endblock %}

